* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(30,30,149,1) 60%, rgba(2,0,36,1) 255%);
}

html,
body {
  font-size: 18px;
  background-color: f5f6f7;
}

/* .App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
} */